참고 : https://hackersandslackers.com/compare-rows-pandas-dataframes/

## 두 데이터프레임의 차이 비교

> 활용 용도 : 기준 프레임을 가지고 다른 데이터와 OUTER JOIN을 해서 데이터의 오류를 찾는다.

### 데이터 예시 준비

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame(['ST-1','ST-2','ST-3','ST-4','ST-5'], columns=['st_id'])
df2 = pd.DataFrame.from_records([['ST-1',100],['ST-3',200],['ST-7',300]], columns=['stationId','value'])

In [17]:
df1 # 기준데이터

  st_id
0  ST-1
1  ST-2
2  ST-3
3  ST-4
4  ST-5

In [18]:
df2

  stationId  value
0      ST-1    100
1      ST-3    200
2      ST-7    300

### 데이터 JOIN

> OUTER JOIN을 하고 indicator 옵션을 활용한다.

indicator는 _merge라는 컬럼을 생성하고 both, left_only, right_only 값을 제공한다.

In [19]:
diff_df = pd.merge(df1, df2, left_on='st_id', right_on='stationId', how='outer', indicator=True)

In [20]:
diff_df

  st_id stationId  value      _merge
0  ST-1      ST-1  100.0        both
1  ST-2       NaN    NaN   left_only
2  ST-3      ST-3  200.0        both
3  ST-4       NaN    NaN   left_only
4  ST-5       NaN    NaN   left_only
5   NaN      ST-7  300.0  right_only

left_only는 필수 데이터이지만 현재 사용한 데이터의 문제가 있다는 뜻

In [28]:
diff_df.query('_merge == "left_only"')

  st_id stationId  value     _merge
1  ST-2       NaN    NaN  left_only
3  ST-4       NaN    NaN  left_only
4  ST-5       NaN    NaN  left_only

right_only는 기준 데이터가 최신화되지 않았다거나 최신화가 필요하다는 뜻

In [29]:
diff_df.query('_merge == "right_only"')

  st_id stationId  value      _merge
5   NaN      ST-7  300.0  right_only